
html { height: 100%; width: 100%; }
body { height: 100%; width: 95%; margin: 0; padding: 0; border: 0;background-color: #82ce89;
  font: 13px/15px Verdana,Arial,Helvetica,sans-serif; }
img { border: none; }
table, tr, td, tr { border-collapse: collapse; vertical-align: top; text-align: left;
  font: 13px/15px Verdana,Arial,Helvetica,sans-serif; }
a { color: #8D0D19;}


/* Note: IE 5 & 6 won't understand min-height */
#main { min-height: 600px; width: 100%; background: #EEE4B9; padding: 2em;}

#footer { height: 2em; padding: 1em; text-align: center; 
  background: #1A446C;  color: #D4E6F4; }

table.bordered tr th, table.bordered tr td { border: 1px solid #000000; }

#pagination .selected { font-weight: bold; color: #8D0D19;}

#header {
	padding-top: 20px;
}

.row #thumbnail {
	height: 250px;
	width: 250;
	display: inline-block;
}
#thumbnail a {
	display: inline-block;
}

#thumbnail img {
	height: 250px;
	max-width: 250;
}

#photo {
	margin: 40px;
}

#comment-form{
	margin: 35px;
}

.panel-body {
	margin: 0px;
}

#comments-field {
	margin:0px 0px 0px 20px;
}

footer {
	/*top: 100%;*/
	bottom: 0px;
	position: relative;
	width: 100%;
}
#footer {
	
	height:100px;
	background-color: #000;
	right: 0;
    left: 0;
    z-index: 1030;

}

#menu-container {
	margin-top: 70px;
	margin-bottom: 70px;
	position: relative;

}

#menu-container li {
	list-style-type: none;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
